<p id="notice"><%= notice %></p>

<h1>Your Shows</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_shows.each do |user_show| %>
      <tr>
        <td><%= user_show.title %></td>
        <td><%= link_to 'Show', user_show %></td>
        <td><%= link_to 'Edit', edit_user_show_path(user_show) %></td>
        <td><%= link_to 'Destroy', user_show, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tv Show', new_user_show_path %>
